/dist/
/nbproject/private/
/build/
/Configurator/nbproject/private/
/IKASL/build/
/VHLinkGenerator/build/
/IKASL/nbproject/private
/Vector/
/Configurator/build/
/VHLinkGenerator/build/
/IKASL/build/
/Arena3D/build/
/FeatureExtractor/build/
/junit/nbproject/private/
/junit/build/
/Config/feature_vectors_config.xml
/Config/ikasl_params.xml
/Config/important_percep_config.xml
/Config/link_config_model.xml
/Config/perception_config_model.xml
/Config/Stacks/L2F0/lastGLayer.ser
/Config/Stacks/L2F1/lastGLayer.ser